html {
    height: 100%;
  }
  * {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
background-image: url('./assets/5205447.jpg'); 
background-size: cover;
}
  
  .register-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    text-align: center;
  }
  
  .register-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .register-box .user-box {
    position: relative;
  }
  .q{
    color: #03e9f4;
    font-weight: 100;font-size: 17px;

  }
  .q:hover{
    color: red;
  }
  
  .register-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .register-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .register-box .user-box input:focus ~ label,
  .register-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 15px;
  }
  .q:focus{
    color: purple;
  }
   .b {
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .b:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
                0 0 5px #03e9f4,
                0 0 8px #03e9f4,
                0 0 10px #03e9f4;
  }
  
  .register-box a span {
    position: absolute;
    display: block;
  }
  
  .register-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 3s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .register-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(10deg, transparent, #03e9f4);
    animation: btn-anim2 3s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .register-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 3s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .register-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 3s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  nav {
    background-color: rgba(37, 37, 226, 0);
    margin-bottom: 0.5rem;
    height: 7vh;
}
#one {
    padding-top: 1rem;
    padding-left: 2rem;
    color: white;
}
nav {
    background-image: url('./assets/header.jpg');
    height: 80px;
    width: 100%;
  
  }
  nav ul {
    float: right;
    margin-right: 20px;
  
  }
  
  nav ul li {
    display: inline;
    line-height: 80px;
    margin: 0 30px 0 30px;
  }
  
  nav ul li a {
    color: white;
    font-size: 25px;
    border-radius: 5px;
    padding: 10px 14px 10px 14px;
  
  }
  label.namepage {
    color: white;
    font-size: 35px;
    font-weight: bold;
    line-height: 5.4rem;
    padding: 4rem;
  }
  .active {
    border: 2px solid #0b00aa;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.238);
  }
  .active:hover {
    transition: .3s;
    border: 2px solid #049306;
  }
  
 
  
  
  
  
  
  
  
  